---
permalink: single.html
layout: main.njk
title: Ремонт гиробордов
eleventyNavigation:
  key: single
  parent: servicesOption
  title: Ремонт гиробордов
---

{% include "sections/hero.njk" %}

<div class="breadcrumbs-wrapper">
  <div class="container">
    {% include "components/breadcrumbs.njk" %}
  </div>
</div>

<div class="section section_title">
  <div class="container">
    <h1 class="h1">Ремонт гиробордов</h1>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="section__inner">
      {% include "sections/form.njk" %}
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <header class="section__heading">
      <h2 class="section__title h2">Цены на ремонт гиробордов</h2>
    </header>
    <div>
      <div class="section__tables">
        {% for t in range(2) %}
          <div class="table-wrapper">
            <table class="table">
              <thead>
                <tr>
                  <th class="bold">ТИП РАБОТ</th>
                  <th class="bold">Цена</th>
                </tr>
              </thead>
              <tbody>
                {% for i in range(12) %}
                  <tr>
                    <td class="text-s">Плановое ТО бензинового генератора</td>
                    <td class="text-s medium">от 400 грн</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <div class="section__inner">
      {% include "sections/delivery.njk" %}
    </div>
  </div>
</div>

{% include "sections/partners.njk" %}

<section class="section">
  <div class="container">
    <header class="section__heading">
      <h2 class="section__title h2">Ремонт гиробордов</h2>
    </header>
    <div>
      <div class="fifty-fifty">
        <div class="fifty-fifty__col">
          <img src="/assets/images/fifty-fifty/4.png" alt="" class="fifty-fifty__img">
        </div>
        <div class="fifty-fifty__col">
          <div class="fifty-fifty__text">
            <p>Хоть гироборды и появились недавно в жизни, но успели завоевать популярность среди любителей активного отдыха. Наряду с сигвеями с ручками, электросамокатами и моноколесами, техника маневренна, просты в управлении. Однако, при частой эксплуатации, из-за столкновений, неаккуратного обращения техника ломается.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <header class="section__heading">
      <h2 class="section__title h2">В каких случаях необходим ремонт гироборда</h2>
    </header>
    <div>
      <div class="fifty-fifty">
        <div class="fifty-fifty__col">
          <img src="/assets/images/fifty-fifty/4.png" alt="" class="fifty-fifty__img">
        </div>
        <div class="fifty-fifty__col">
          <div class="fifty-fifty__text">
            <p>К сожалению, даже качественные гироборды проверенных производителей  могут со временем выходить из строя. Основные «симптомы» поломок  следующие:</p>
            <ul>
              <li>медленный набор скорости – гиробород едет рывками;</li>
              <li>отсутствие соединения по Bluetooth;</li>
              <li>неисправности блока питания;</li>
              <li>появление на экране дисплея уведомления об ошибках;</li>
              <li>отказ, сбои в работе тормозной системы;</li>
              <li>гироборд едет не в ту сторону при попытке поворота;</li>
              <li>батарея быстро разряжается, не заряжается;</li>
              <li>появление посторонних звуков;</li>
              <li>повреждения корпуса.</li>
            </ul>
            <p>Осмотр, ремонт гироборда и техническое обслуживание необходимы после  простоя транспорта, особенно во влажных, неотапливаемых помещениях. В  таком случае требуется проверка проводки, электроники, двигателя, колес.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <header class="section__heading">
      <h2 class="section__title h2">Мастерская "ремтех" принимает в ремонт гироборды</h2>
    </header>
    <div>
      <div class="fifty-fifty">
        <div class="fifty-fifty__col">
          <img src="/assets/images/fifty-fifty/5.png" alt="" class="fifty-fifty__img">
        </div>
        <div class="fifty-fifty__col">
          <div class="fifty-fifty__text">
            <div class="doublelist">
              <ul>
                <li>Smart Balance;</li>
                <li>SmartWay;</li>
                <li>AirWheel;</li>
                <li>TaoTaо;</li>
                <li>Remax;</li>
                <li>Viper;</li>
                <li>SNS;</li>
                <li>GTF;</li>
              </ul>
              <ul>
                <li>UKC;</li>
                <li>Intertool;</li>
                <li>Zhejiang;</li>
                <li>ProLogix;</li>
                <li>Sakuma;</li>
                <li>ZAXBOARD;</li>
                <li>GYRO;</li>
                <li>StreetGo и других.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <header class="section__heading">
      <h2 class="section__title h2">Наши преимущества</h2>
    </header>
    <div>
      <div class="fifty-fifty">
        <div class="fifty-fifty__col">
          <img src="/assets/images/fifty-fifty/6.png" alt="" class="fifty-fifty__img">
        </div>
        <div class="fifty-fifty__col">
          <div class="fifty-fifty__text">
            <ul>
              <li>устраняем поломки электротранспорта любой сложности;</li>
              <li>контролируем диагностику, процесс выполнения работ;</li>
              <li>используем оригинальные запчасти для всех моделей техники (при необходимости выполняем поиск нужных деталей у поставщиков);</li>
              <li>проводим полный комплекс ремонтных и восстановительных работ;</li>
              <li>предоставляем гарантию.</li>
            </ul>
            <p>Менеджеры рассчитают цену и время выполнения заказа. Возможен выезд  мастеров сервиса по вашему адресу в Киеве. Чтобы получить консультацию,  заказать услугу, позвоните нам. Отзывы клиентов, типы выполняемых работ  указаны на сайте.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "sections/repairRequest.njk" %}
