<section class="delivery">
  <div class="delivery__header">
    <header>
      <h2 class="delivery__title h2">Заказать доставку на ремонт</h2>
    </header>
    <ul class="delivery__stats">
      <li class="delivery__stat">
        <span class="gray-40 text-s">По городу:</span>
        <span class="h4">350 ₴</span>
      </li>
      <li class="delivery__stat">
        <span class="gray-40 text-s">По области:</span>
        <span class="h4">320 ₴/км</span>
      </li>
    </ul>
  </div>
  <ul class="delivery__contacts">
    <li class="delivery__contact">
      <span class="delivery__contact-label text-s">
        Бензиновая и дизельная техника
      </span>
      <a href="tel:+380673640442" class="delivery__contact-phone">(067) <span class="primary">364-04-42</span></a>
    </li>
    <li class="delivery__contact">
      <span class="delivery__contact-label text-s">
        Электротранспорт
      </span>
      <a href="tel:+380673640442" class="delivery__contact-phone">(067) <span class="primary">364-04-42</span></a>
    </li>
  </ul>
  <ul class="delivery__items">
    <li class="delivery__item">
      <div class="delivery__item-icon">
        <span class="icon icon_xl icon_calendar"></span>
      </div>
      <h3 class="delivery__item-title">Срок выполнения</h3>
      <p class="delivery__item-copy text-s">от 2 до 5 дней</p>
    </li>
    <li class="delivery__item">
      <div class="delivery__item-icon">
        <span class="icon icon_xl icon_rocket"></span>
      </div>
      <h3 class="delivery__item-title">Экспресс ремонт</h3>
      <p class="delivery__item-copy text-s">до 2 дней</p>
    </li>
    <li class="delivery__item">
      <div class="delivery__item-icon">
        <span class="icon icon_xl icon_guarantee"></span>
      </div>
      <h3 class="delivery__item-title">Гарантия</h3>
      <p class="delivery__item-copy text-s">3 месяца</p>
    </li>
    <li class="delivery__item">
      <div class="delivery__item-icon">
        <span class="icon icon_xl icon_delivery"></span>
      </div>
      <h3 class="delivery__item-title">Доставка</h3>
      <p class="delivery__item-copy text-s">Доставка в сервис и обратно</p>
    </li>
  </ul>
  <div class="delivery__link">
    <a href="#" class="link text-m">
      <span class="link__copy">Подробнее</span>
      <span class="link__append">
        <span class="icon icon_sm icon_current-color icon_chevron-right"></span>
      </span>
    </a>
  </div>
</section>
